* {
	box-sizing: border-box;
}
* a{
	text-decoration: none;
	color: white;
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	max-width: 100%;
}
.container {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	max-width: 100%;
	}

header {
	height: 70px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	background-color: black;
	margin: 0 auto;
	justify-content: space-around;
	color: white;
	position: fixed;
	 z-index: 1000;

	}
	.titleheader {
		font-size: 40px;
		text-decoration: none;
	}
.anclas {
	margin: 0 auto;
}
nav {
	width: 20%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.ancla {
	font-size: 20px;
	text-decoration: none;
	color: white;
	margin: 0 auto;
	font-size: 30px;
	border-radius: 7px;
	padding: 3px;
}
.ancla :hover {
	background-color: white;
	color: black;
}
.anclainfo {
	text-align: right;
}
.anclacontact {
	text-align: right;
}
main {
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
}
.inicio {


	color: white;
	width: 100%;
	height: 450px;
	align-items: center;
	justify-content: center;

}
.main-title{
	font-size: 50px;
	padding-top: 150px;
}
.info {
	margin-top: 70px;
	background-color: white;
	align-items: center;
	padding-top: 50px;
	height: 500px;
	width: 100%;
	height: 100%;
}
.info h2 {
	padding-bottom: 30px;
}
.info img {
	width: 20%;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 10%;
}
.asd {
	font-size: 18px;
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
}
.textoinfo {
	width: 40%;
	margin-top: 10px;
}
.textoinfo ul{
	margin left: 0px;
}
.textoinfo li{

	list-style: none;
	color: red;
}
.mas-info{
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	width: 100%;
	background-color: white;
}
.academica {

	background-color: white;
	padding-top: 50px;
	width: 50%;
}
.skills {

	width: 50%;
	background-color: white;
	padding-top: 50px;



}
.cierre {
	padding-top: 70px;
	padding-bottom: 70px;
}
.caja_envio label{
	font-size: 30px;
	color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
.mensaje {
	width: 50%;
	height: 300px;
}
.volver{
	padding-top: 50px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 5px;
	background: black;
	color: white;
	border-radius: 7px;

}
.contacto {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.form-consulta {
	align-items: center;
	text-align: center;
	display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  align-content: flex-start;
	  justify-content: flex-start;
	  padding: 15px;
	  text-align: center
}
.input {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

}
.campo-form {
	width:40%;
	height:36px;
	margin:2px 0 6px;
	padding-left:6px;
	box-sizing: border-box;
	border-radius:3px;
	border-color: black;
	font-size: 16px;
	margin-bottom: 15px;

}
	.btn-form {
	display: inline-block;
	border:0;
	background: #000;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	border-radius: 6px;
	color:#fff;
					}
textarea {
	min-height: 150px!important;
	width: 70%;
}
.footer {
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	color: white;
	margin-top: 30px;
}
@media only screen and (max-width: 500px) {
    .textoinfo {width: 80%}
    .info img {width: 80%}
    .inicio img {width: 50%;
    	border-radius: 40%;}
    main {
    	background-color: black;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;;
    }
    .inicio {color: white;}
}
@media only screen and (max-width: 750px) {
    .textoinfo {width: 80%}
    .info img {width: 80%}
    .inicio img {width: 60%;
    	border-radius: 50%;}
			.academica{width: 100%;}
			.skills{width: 100%;}
}
